html, body {position: relative;height: 100%;}
img{margin: 0;}
body
{background: #eee;font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 14px;color:#000;margin: 0;padding: 0;}
.ihatebrowser {width: 100%;height: 100%;margin: 0 auto;position: relative;overflow: hidden;
list-style: none;padding: 0;z-index: 1;}
.backgroundpicture-1,.backgroundpicture-2,.backgroundpicture-3,.backgroundpicture-4{width: 100%;height: 100%;}
.backgroundpicture-1 img,.backgroundpicture-2 img,.backgroundpicture-3 img,.backgroundpicture-4 img
 {width: 100%;height: 100%;display: block;}
 .logo{width: 100%;height: 1.4rem;display: flex;justify-content: center;align-items: center;z-index: 3;position: absolute;top: 0;}
 .logo img{width: 2.7rem;height: 0.58rem;display: block;}
.openbutton{width: 100%;height: 100%;position: fixed;z-index: 2;display: flex;justify-content: center;align-items: flex-end;}
.openbutton img{width: 2.4rem;margin-bottom: 13%;}
.swiper-pagination{background:none;bottom: 4.1%!important;}
.swiper-pagination-bullet{width:.13rem;height:.13rem;background: #fff;opacity: 1;}
.swiper-pagination-bullet-active{background: #f54343;opacity: 1;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 .13rem;}
